@media (max-width: 975px) {
  .header {
    &__btn {
      display: block;
    }
    &__menu {
      display: none;

      a,
      li {
        display: block;
        width: 100%;
      }
      a {
        display: block;
      }
      li {
        margin-bottom: 10px;
      }
      li + li {
        margin-left: 0;
      }
    }
  }
}
@media (max-width: 900px) {
  .carts {
    display: block;
    
  }
  .cart{
      display: block;
    max-width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }
  .advantages__item-desc{
    max-width: 100%;
  }
  .popular__item-price__odd{
    left: auto;
  }
}
@media (max-width: 600px) {
  .header__logo {
    img {
      margin-right: 15px;
    }
  }
  .header__name {
    display: none;
  }
  .header__phone {
    margin-right: 15px;
    a {
      font-size: 15px;
    }
  }
}
@media (max-width: 450px) {
  .footer__logo-title {
    margin-right: 5px;
  }
  .footer__logo-desc {
    display: none;
  }
  .footer__call {
    a {
      font-size: 16px;
    }
    &-free {
      display: none;
    }
  }

  .footer__bootom a {
    padding: 15px;
  }
}
@media (min-width: 975px) {
  .header__menu {
    display: flex !important;
  }
}
